﻿<script src="~/Scripts/Angular/Controllers/MovsXclienteController.js"></script>
<script src="~/Scripts/Angular/Services/MovsXclienteService.js"></script>
@{
    ViewBag.Title = "InfoClientes | Reporte Movimientos";
}

<div style="padding-top:10%" ng-controller="CtrlRptMovXcliente">
    <h2 class="tituloFormulario">Informe | Visitas por cliente</h2>
    <br />

    <div class="form-inline" style="width:100%">
        <div class="form-group">
            <label for="nitCli">Documento del cliente</label>
            <input class="form-control" id="nitCli" type="text" autofocus ng-model="nitCli" />
        </div>
        <div class="form-group">
            <br />
            <button type="submit" class="btn btn-primary mb-2" value="Consultar" id="btnConsultar" ng-click="BuscarCliente(nitCli)">Consultar</button>
        </div>
        <br />
        <br />
        <br />
        <p class="h3" style="text-align:center">Informe de visitas por cliente</p>
        <br />
        <div class="demo-container">
            <div id="gridContainer"></div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        llenaGrilla([]);
        $('#nitCli').keydown(function (e) {
            if (e.which != 13) {
                PermiteSoloNumeros(e);
            }
        });

        $('#btnConsultar').click(function () {
            llenaGrilla([]);
            var val = $('#nitCli').val();
            if (val == "" || val == undefined) {
                alert("Por favor digite el documento del cliente.");
                $('#nitCli').focus();
            } else {
                var movs = new DevExpress.data.CustomStore({
                    load: function (loadOptions) {
                        var deferred = $.Deferred(),
                            args = {};


                        args.nitCliente = val;

                        $.ajax({
                            url: "../MovXcliente/listarMovs",
                            dataType: "json",
                            data: args,
                            success: function (result) {
                                deferred.resolve(result, { totalCount: result.length });
                                if (result.length == 0 || result.length == null || result.length == undefined) {
                                    alert("No se encontraron visitas.");
                                } else if (result[0].existeCliente === false) {
                                    alert("El cliente con número de docuemnto "+ val + " no existe.");
                                }
                            },
                            error: function () {
                                deferred.reject("Data Loading Error");
                            },
                            timeout: 5000
                        });

                        return deferred.promise();
                    }
                });

                llenaGrilla(movs);
            }
        });

        function llenaGrilla(movs) {
            $("#gridContainer").dxDataGrid({
                dataSource: {
                    store: movs
                },
                remoteOperations: {
                    sorting: true,
                    paging: true
                },
                paging: {
                    pageSize: 12
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [8, 12, 20]
                },
                columns: [{
                            dataField: "ClNombresApe",
                            caption: "Ciente"
                        },{
                            dataField: "NomVendedor",
                            caption: "Vendedor"
                        },{
                            dataField: "VsFeha",
                            dataType: "date",
                            caption: "Fecha visita"
                        }, {
                            dataField: "VsValorNeto",
                            dataType: "number",
                            format: "currency",
                            caption: "Valor neto"
                        }, {
                            dataField: "VsValorVisita",
                            dataType: "number",
                            format: "currency",
                            caption: "Valor visita"
                        }, {
                            dataField: "Observaciones"
                        }],
                summary: {
                    totalItems: [{
                        column: "VsValorNeto",
                        summaryType: "sum",
                        valueFormat: "currency",
                        displayFormat: "Suma: {0}"
                    }, {
                        column: "VsValorVisita",
                        summaryType: "sum",
                        valueFormat: "currency",
                        displayFormat: "Suma: {0}"
                    }]
                }
            }).dxDataGrid("instance");
        }

        function PermiteSoloNumeros(e) {
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            (e.keyCode >= 35 && e.keyCode <= 40)) {
                return;
            }
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        }

    });
</script>